

/*  ==================================================
    Global Variables
    ==================================================  */

    /* Faces */

    $fontFamily: "HelveticaNeue", Helvetica, Roboto, Arial, sans-serif;

    /* Weights */

    $fontWeightNormal: 300;
    $fontWeightBold: 700;

    /* Sizes */

    $fontSizeXXXXXSmall: .75rem;
    $fontSizeXXXXSmall: .8rem;
    $fontSizeXXXSmall: .8125rem;
    $fontSizeXXSmall: .875rem;
    $fontSizeXSmall: 1rem;
    $fontSizeSmall: 1.1rem;
    $fontSizeMedium: 1.125rem;
    $fontSizeLarge: 1.5rem;
    $fontSizeLarge2: 1.6875;
    $fontSizeXLarge: 1.75rem;
    $fontSizeXXLarge: 2rem;
    $fontSizeXXXLarge: 2.25rem;
    $fontSizeXXXXLarge: 2.3125rem;
    $fontSizeXXXXXLarge: 2.75rem;
    $fontSizeXXXXXXLarge: 2.813rem;

    /* Line Heights */

    $lineHeightNormal: 1rem;
    $lineHeightTaller: 1.1rem;
    $lineHeightXTaller: 1.2rem;
    $lineHeightXXTaller: 1.3rem;
    $lineHeightXXXTaller: 1.4rem;
    $lineHeightXXXXTaller: 1.6rem;
    $lineHeightXXXXXTaller: 2.4rem;
    $lineHeightXXXXXXTaller: 3.8rem;

    /* Letter Spacings */

    $spacingTighter: -0.01rem;
