/*  ==================================================
    Colloquial Color Names
    ==================================================  */

  $paleGreen: #a7c9b5;
  $paleOrange: #ffe5b9;
  $lightRed: #e8997f;

	/* Grays and Neutrals */

	$darkGray2: #4d4d4d;
	$darkGray: #414042;
	$mediumGray: #979797;
	$lightGray: #f7f7f7;

	$white: #fff;
	$black: #000;

/*  ==================================================
    Color Name Mappings
    ==================================================  */

  /* Text Color Names */

  $colorTextOne: $white;
  $colorTextTwo: $mediumGray;
  $colorTextThree: $darkGray;
  $colorTextFour: $paleGreen;
  $colorTextFive: $darkGray2;

  /* Background Color Names */

  $colorBackgroundOne: $white;
  $colorBackgroundTwo: $lightGray;
  $colorBackgroundThree: $mediumGray;
  $colorBackgroundFour: $paleGreen;
  $colorBackgroundFive: $paleOrange;
  $colorBackgroundSix: $lightRed;

  /* Border Color Names */

  $colorBorderOne: $white;
  $colorBorderTwo: $lightGray;
  $colorBorderThree: $mediumGray;
  $colorBorderFour: $paleGreen;
